<!-- Default home page -->
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700' rel='stylesheet'/> -->
<link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link href='../styles/main.css' rel='stylesheet'/>
<!--[if IE 7]>
<link href='../styles/ie7.css' rel='stylesheet'/>
<![endif]-->

<div class="top-bar">
    <div class="container clearfix">
        <img class="logo" src="http://sailsjs.org/images/sails-logo.jpg" />
    </div>
</div>

<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">Please sign in</h1>

        <a href="/auth/github/" class="btn">with GitHub</a>

        <a href="/auth/facebook/" class="btn">with Facebook</a>

        <a href="/auth/google/" class="btn">with Google+</a>

        <div class="delete">
            <div class="sprite">You're looking at: <span class="boxy">views/auth/index.ejs</span></div>
        </div>
    </div>
    <div class="side-bar">
        <h4 id="new">
            New to Sails?
        </h4>
        <ul>
            <li>
                <a href="http://sailsjs.org">Visit sailsjs.org</a>
            </li>
            <li>
                <a href="http://sailsjs.org/#documentation">Documentation</a>
            </li>
        </ul>
        <h4>
            Next Steps
        </h4>
        <ul>
            <li class="sprite single_page">
                <a target="_blank" href="http://sailsjs.org">Build a single page app</a>
            </li>
            <li class="sprite traditional">
                <a target="_blank" href="http://sailsjs.org">Build a traditional webapp</a>
            </li>
            <li class="sprite realtime">
                <a target="_blank" href="http://sailsjs.org">Build a realtime app</a>
            </li>
            <li class="sprite api">
                <a target="_blank" href="http://sailsjs.org">Build an API</a>
            </li>
        </ul>
    </div>
</div>
