
<div class="white-box">
<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="/logout">Logout</a></li>
    </ul>
    <h3 class="muted">Sails Social Auth example</h3>
</div>

<hr>

<div class="jumbotron">

    <h1>Hello <%= user.name %>!</h1>

    <p>You've successfully logged in.</p>

    <div class="well well-small">
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <% for(key in user.values) { %>
            <tr>
                <td><%= key %></td>
                <td><%= user.values[key] %></td>
            </tr>
            <% } %>
        </table>
    </div>

    <h3>Used modules</h3>
    <ul>
        <li><a target="_blank" href="https://github.com/balderdashy/sails-mongo">MongoAdapter</a></li>
        <li><a target="_blank" href="http://passportjs.org/">Passport</a></li>
        <li><a target="_blank" href="https://github.com/jaredhanson/passport-github">Passport-GitHub</a></li>
        <li><a target="_blank" href="https://github.com/jaredhanson/passport-google-oauth">Passport-Google-OAuth</a></li>
    </ul>

    <h3>About Sails</h3>

    <p>Sails is a modern, realtime MVC framework for the Node.js platform. <strong>It helps you build apps fast.</strong></p>

    <a target="_blank" href="https://github.com/balderdashy/sails/wiki" class="btn btn-info"><span>Documentation</span></a>
    <a target="_blank" href="https://github.com/balderdashy/sails/wiki/Changelog" class="btn btn-info"><span>Changelog</span></a>

</div>

<hr>

<div class="footer">
    <a target="_blank" href="http://sailsjs.com" class="copyright">Built with Sails.js</a>
</div>

</div>